body
{
	background-color:#F5EFE6;
	margin:0;
}

hr
{
	border-style:dotted none none none;
	border-color:#3C2317;
	border-width:5px;
	width:10%;
}

#home-section
{
	height:100%;
	text-align:center;
}

#name
{
	margin:0;
	color:#628E90
}

#tagline
{
	margin:0;
	color:#3C2317
}
