body
{
	margin:0;
	background-color:#1D1E41;
}

p
{
	margin:0;
}

a
{
	text-decoration:none;
}
.home-section
{
	height:100%;
}
#elipse
{
	position: fixed;
	width: 1232px;
	height: 1258px;
	left: -616px;
	top: -590px;

	background: radial-gradient(41.34% 41.34% at 46.92% 50%, #3C42CA 0%, rgba(60, 66, 202, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	filter: blur(200px);	
}

.menu
{
	position:fixed;
	margin-top:2%;
	margin-bottom:15%;
	left:200px;
	z-index:10;
	font-family:"Poppins";
	font-size:18px;
}

.menu-btn
{
	color:#ffffff;
}

#home-button
{
	position:absolute;
	left: 500px;
	/*color: radial-gradient(118.06% 1074.38% at 0% 0%, #7850CD 0%, #7850CD 92.5%, rgba(255, 255, 255, 0) 100%);*/

}

#about-button
{
	position:absolute;
	left: 600px;
	/*color:#ffffff;*/
}

#project-button
{
	position: absolute;
	left:700px;
	/*color:#ffffff;*/
}

#contact-button
{
	position:absolute;
	left: 820px;
	/*color:#ffffff;*/
}

.intro-div
{
	position:absolute;
	font-family:"Poppins";
	top:150px;
	left:106px;
	
}

.headings
{
	font-family:"Poppins";
	font-size:60px;
	color:#ffffff;
}

#hi
{
	color:#51C9E5;
	font-size:40px;
}

#tagline
{
	font-style:italic;
	font-size:30px;
	color:#51C9E5;
}

#resume-button
{
	position:relative;
	top:50px;
	width:170px;
	height:55px;
	background: linear-gradient(144.82deg, #26C35B 0.83%, #3C42CA 79.33%);
	color:#ffffff;
	font-size:16px;
	border-radius: 30px;
	border-color:none;
}

.portfolio-image
{
	position:absolute;
	top:0;
        left:900px;
	height:356px;
	width:346px;
}

/*
.homepage-frame
{
	position:absolute;
	top:395px;
	left:956px;
	right:0;
	bottom:0;
}

#bottom-elipse
{
	height:280px;
	width:500px;
	position:absolute;
	left:-90px;

	background: radial-gradient(41.34% 41.34% at 46.92% 50%, #3C42CA 0%, rgba(60, 66, 202, 0) 100%);
	filter: blur(200px);
}
*/
.index-text
{
	color:#ffffff;
}

#about-section
{
	position:absolute;
	top:100%;
	padding:0px 50px 50px 50px;
}
.about-contact-heading
{
	margin-top:5%;
	margin-bottom:5%;
	color:#51C9E5;
}
.about-text
{
	font-family:"Poppins";
	font-size:16px;
	color:#ffffff;
}

#project-section
{
	position:absolute;
	top:200%;
	height:100%;
	width:90%;
	margin-left:3%;
}

.project-box
{
	display:inline-block;
	height:200px;
	width:200px;
	margin: 0 3% 3% 0;
	background-color: rgba(196, 196, 196, 0.6);
	border-radius:60px;
}

#contact-section
{
	position:absolute;
	top:300%;
	height:100%;
	width:90%;
	padding:0px 50px 50px 50px;

}

#contact-icons
{
	margin-bottom:3%;
}
.link-icons
{
	margin-right:3%;
}
#email
{
	color:#ffffff;
	font-size:20px;
	font-family:"Poppins";
	margin-bottom:3%;I
}
.contact-fields
{
	border:0;
        background-image:linear-gradient(272.49deg, #FF1CA4 -115.3%, #8B5CB6 17.24%, #2793C5 76.94%);
        border-radius:25px;

}

.mail-fields
{
	margin:0 4% 1% 0;
	color:#ffffff;
	font-family:"Poppins";
	font-size:16px;
	padding:4px;
}
.message-text
{
	position:absolute;
	width:322px;
	height:139px;
	resize:none;
}
.ping-button
{
	width:140px;
	background: radial-gradient(467.65% 10747.9% at 87.72% 261.18%, #98C2FE 0%, #0C0970 100%);
	border:0;
	border-radius:50px;
}
