/*Universal*/

/*I cant figure out why i cant change the background color with only body tag instead of making class .body*/
.body
{
	background-color: #f5f5f5;
	margin-left:10%;
	margin-right:3%;
}

section
{
	min-height:100vh;
}


#projectsSection,#aboutSection,#contactSection
{
	padding-top:7%;
	margin-right:10%;
	margin-left:1%;
}

hr
{
	border:0 !important;
	margin:0;
	border-top:3px solid !important;
	opacity:100 !important;
	color:#000000 !important;
}

@font-face {
	font-family: "NeueHaasMedium";
	src: url("fonts/NeueHaasDisplayMediu.ttf");
}

@font-face {
	font-family: "NeueHaasLight";
	src: url("fonts/NeueHaasDisplayLight.ttf");
}

/*Nav Bar*/
.navBar
{
	font-family:"NeueHaasLight";
	font-weight: 1000;
	background-color: #f5f5f5;
}

.navbar-nav .nav-link
{
	color:#000000;
}

.nav-link:hover
{
	cursor:pointer;
}

.navbar a
{
	text-decoration:none;
}

.navbar-brand:hover
{
	color:#6c757d !important;
}
/*Home Section*/

.introDescription
{
	padding-top:8rem;
	font-family:"NeueHaasMedium";
}

.introDescription h1
{
	font-size:3rem;
}

.introDescription a
{
	color:inherit;
}
.introDescription a:hover
{
	color:#6c757d
}

.introDescription u
{
	text-decoration-thickness:0.2rem;
}

.profileImg{
	max-width:70% !important;
	margin-top:6rem !important;
}

/*Projects Section*/
.projectsHeading h1
{
	font-family: "NeueHaasMedium";
}

.projects
{
	font-family:"NeueHaasLight";
}

.projects p
{
	font-size:2rem;
	margin-bottom:2px;
}

.projectCard
{
	margin-top:2rem !important;
}

.projectCard img
{
	height:23rem;
	width: 16rem;
}

.projectCard a
{
	cursor:pointer;
}

.showMoreImg
{
	/*override from .projectCard img values*/
	height:2.5rem !important;
	width:2.5rem !important;
	margin-left:1.5rem;
}

.showMoreImg:hover
{
	cursor:pointer;
	/*override from .projectCard img values*/
	height:3rem !important;
	width: 3rem !important;
}

/*About Section*/
#aboutSection h1
{
	font-family: "NeueHaasMedium";
}

#aboutSection p
{
	font-family: "NeueHaasLight";
	font-size:1.15rem;
}

.resumeBtn
{
	background-color: #000000 !important;
	border-color:#000000 !important;
}

.resumeBtn:hover
{
	background-color: #6c757d !important;
	border-color:#6c757d !important;
	
}

.aboutImg
{
	margin-left:10%;
	width:18rem;
	height:28rem;
}

.aboutFooter
{
	margin-top: 2rem;
	font-size:1rem;
	color:#6c757d;
}

 
/*Responsive*/


@media (max-width:950px)
{
	/*Home Section*/
	.introDescription
	{	
		padding-top:4rem;
	}	
	.introDescription h1 
	{
		font-size:2.5rem;
	}
	.profileImg
	{
		margin-top:8% !important; 
		max-width:80% !important;

	}

	/*Project Section*/
}

@media (max-width:560px)
{
	/*Home Section*/
	.introDescription
	{
		padding-top:3rem;
	}
	.introDescription h1 
	{
		font-size:2rem;
	}
	.profileImg
	{
		max-width:100% !important;
	}
}

@media (max-width:430px)
{
	/*Home Section*/
	.introDescription
	{
		padding-top:2rem;
	}

	/*Project Section*/
	.showMoreImg
	{
		margin-top:2rem;
		margin-left:40%;
	}
}

